nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 2px;
}

h1 {
    color: rgb(17, 17, 32);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgb(75, 58, 58);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
